<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Delete Form</title>
  <!--Bootstrap-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.1/css/bootstrap.min.css">
</head>

<body>
    
  <div class="container">
    <a href="/" class="btn btn-info btn-close"></a>
    <form action="/user_delete" method="post">

      <div class="row mt-lg-4">
        <div class="col-4">
          <p>Enter your Email and password to continue!</p>
          <input type="email" class="form-control" placeholder="Enter email" name="email">
        </div>
      </div>

      <div class="row mt-lg-4">
        <div class="col-4">
          <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password">
        </div>
      </div>

      <div class="row mt-lg-4">
        <div class="col-4">
            <button type="submit" class="btn btn-primary">Goodbye!</button>

        </div>
      </div>
    </form>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.1/js/bootstrap.min.js"></script>
</body>

</html>